.bellefair-150 {
  font-family: 'Bellefair', serif;
  font-size: 150px;
}

.bellefair-100 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
}

.bellefair-56 {
  font-family: 'Bellefair', serif;
  font-size: 56px;
}

.bellefair-32 {
  font-family: 'Bellefair', serif;
  font-size: 32px;
}

.bellefair-28 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}

.barlow-28-475 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
}

.barlow-14-235 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

.barlow-16-27 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.linha {
  display: block;
  position: absolute;
  left: 208px;
  height: 2px;
  width: 400px;
  background-color: rgb(31 41 55);
}

.fonte {
  font-size: 40px;
}